

body{
    overflow-x: hidden;
  }
  body::before {
    display: block;
    content: '';
    height: 60px;
  }


  .column {
    flex-basis: 50%;
    padding: 10px;
  }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* vh stands for viewport height */
    }
    
    /*Images*/
   
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }
    .title {
        text-align: center;
        font-size: 3em;
        margin-bottom: 20px;
    }
    #photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .photo-item {
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 10px;
    }
    .photo-item img {
        max-width: 300px; /* You can adjust this */
        height: auto;
    }
    

  
  .bg-image {
  background-size: cover;
  min-height: 60vh;
  position: relative;
  color: white;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing : .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem ;
  }

  h1{
    font-size: 4em;
  }
  
  .color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }
  @media (max-width: 765px){
    .bg-image{
        min-height:30vh;
       
    }
    h1{
        font-size: calc(1.525rem + 3.3vw);
    }
  }
/* THe cards CSS*/

.dropdown-item:hover {

        background-color: lightblue;
    }
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #f8f8f8;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.card-header:hover {
    background-color: #ececec;
}

.stock-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 0.5rem;
}

.card-header h2 {
    font-size: 1rem;
    margin: 0;
    color: #333;
    font-weight: 400;
}

.card-content {
    display: none;
    padding: 0.5rem;
    line-height: 1.5;
}

.card-content p {
    margin: 0.5rem 0;
}




    
  
  