<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- StockViewer</title>
    <style>
        .stock {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 300px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">StockViewer</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    <div class="stock">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
