<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>C Stocks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel = "stylesheet" href = "{{url_for('static', filename='/index.css')}}">


</head>
  <body>
    
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ (url_for('index')) }}">
            <img src="{{url_for('static', filename='/Image/clogo.png')}}" width = "50" height = "30"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Group C Stocks</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ (url_for('index')) }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ (url_for('about')) }}">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Company Stocks
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ (url_for('renderAMZNpage')) }}">Amazon.com Inc [AMZN]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderAAPLpage')) }}">Apple Inc [AAPL]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderDELLpage')) }}">Dell Technologies Inc [Dell]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderGMEpage')) }}">GameStop Corp [GME]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderGOOGLpage')) }}">Alphabet Inc Class A [GOOGL]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderHPQpage')) }}">HP Inc [HPQ]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderINTCpage')) }}">Intel Corporation [INTC]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderLYFTpage')) }}">LYFT Inc [LYFT]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderMSFTpage')) }}">Microsoft [MSFT]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderNFLXpage')) }}">Netflix Inc [NFLX]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderNVDApage')) }}">NVIDIA Corporation [NVDA]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderTMUSpage')) }}">T-Mobile US Inc [TMUS]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderUBERpage')) }}">Uber Technologies Inc [UBER]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderVZpage')) }}">Verizon Communications Inc [VZ]</a></li>

                  </ul>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </nav>
     
      <!--Start Image Slider-->

      <div class="bg-image"
      style = "background-image: url({{url_for('static', filename='/Image/stocks.jpg')}});">
      <div class = "color-overlay d-flex justify-content-center align-items-center">
        Group C Stocks
      </div>   
      </div>

      <div id="stock-widgets-container" class="stock-widgets-container">
        <!-- Stock widgets will be generated here -->
    </div>


<!-- This goes inside the <body> tag -->
<div class="card-container">
    {% for stock in share_price_data%}
        <div class="card">

                     <div class="card-header" onclick="toggleCard('card{{ loop.index }}')">
                <img src="{{ url_for('static', filename='Image/' + stock['symbol'].lower() + '.jpg') }}" alt="{{ stock['name'] }} Logo" class="stock-logo">
                <h2 class="stock-name">{{ stock['name'] }}</h2>
                <!--<h2 class="stock-symbol">{{ stock['symbol'] }}</h2>-->

            </div>

            <div class="card-content" id="card{{ loop.index }}">
                <p>Close Price: $USD {{ "{:.2f}".format(stock['close']) }}</p>
                <p>Opening Price: $USD {{ "{:.2f}".format(stock['open']) }}</p>
                <p>Low Price: $USD {{ "{:.2f}".format(stock['low']) }}</p>
                <p>High Price: $USD {{ "{:.2f}".format(stock['high']) }}</p>
                 <p>Volume: {{ "{:,.0f}".format(stock['volume']) }}</p>
                <p>Closing Date: {{ stock['time'] }}</p>



                <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('render' + stock['symbol'] + 'page') }}';"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  See More
</button>
  </div>

        </div>

    {% endfor %}

</div>

<script>
function toggleCard(cardId) {
    var content = document.getElementById(cardId);
    if (content.style.display === "block") {
        content.style.display = "none";
    } else {
        content.style.display = "block";
    }
}

</script>


   
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>