<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>{{ stock['name'] }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel = "stylesheet" href = "{{url_for('static', filename='/template.css')}}">
    <script
      type="text/javascript"
      src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"
    ></script>

</head>
<!--HI-->
<body>
<nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ (url_for('index')) }}">
            <img src="{{url_for('static', filename='/Image/clogo.png')}}" width = "50" height = "30"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Group C Stocks</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ (url_for('index')) }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ (url_for('about')) }}">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Company Stocks
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ (url_for('renderAMZNpage')) }}">Amazon.com Inc [AMZN]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderAAPLpage')) }}">Apple Inc [AAPL]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderDELLpage')) }}">Dell Technologies Inc [Dell]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderGMEpage')) }}">GameStop Corp [GME]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderGOOGLpage')) }}">Alphabet Inc Class A [GOOGL]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderHPQpage')) }}">HP Inc [HPQ]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderINTCpage')) }}">Intel Corporation [INTC]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderLYFTpage')) }}">LYFT Inc [LYFT]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderMSFTpage')) }}">Microsoft [MSFT]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderNFLXpage')) }}">Netflix Inc [NFLX]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderNVDApage')) }}">NVIDIA Corporation [NVDA]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderTMUSpage')) }}">T-Mobile US Inc [TMUS]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderUBERpage')) }}">Uber Technologies Inc [UBER]</a></li>
                    <li><a class="dropdown-item" href="{{ (url_for('renderVZpage')) }}">Verizon Communications Inc [VZ]</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>

    <!-- HEADER IMAGE SECTION* -->
      <div class="container">
        <div class="header">
            <img src="{{url_for('static', filename='/Image/stocks.jpg')}}" alt="Logo" class="logo">
            <div class="text">
            <a href="{{ url_for('update_stock', stock_id=stock['stock_id'], symbol=stock['symbol'])}}">
            <button class="refresh-button">Refresh</button>
            </a>
              <h1>{{ stock['name'] }}</h1>
              <p>{{ stock['symbol'] }} • NASDAQ</p>
          </div>

        </div>
    </div>



    <div id="container1">


    <script type="text/javascript">

        // create a chart object to be added to div id container1, set grid layouts and color
        const chart = LightweightCharts.createChart(document.getElementById("container1"),
        {
        layout: {
            background: { color: '#222' },
            textColor: '#C3BCDB',
        },
        grid: {
            vertLines: { color: '#444' },
            horzLines: { color: '#444' },
        },
    })
        // Get the current users primary locale
        const currentLocale = window.navigator.languages[0];

        // Create a number format using Intl.NumberFormat
        const myPriceFormatter = Intl.NumberFormat(currentLocale, {
            style: 'currency',
            currency: 'USD', // Currency for data points
        }).format;


        // Setting the border color for the vertical axis
        chart.priceScale().applyOptions({
            borderColor: '#71649C',
        });

        // Setting the border color for the horizontal axis
        chart.timeScale().applyOptions({
            borderColor: '#71649C',
            barSpacing: 10,
        });

        // Apply the custom priceFormatter to the chart
        chart.applyOptions({
            localization: {
                priceFormatter: myPriceFormatter,
            },
        });

        // Customizing the Crosshair
        chart.applyOptions({
            crosshair: {
                // Change mode from default 'magnet' to 'normal'.
                // Allows the crosshair to move freely without snapping to datapoints
                mode: LightweightCharts.CrosshairMode.Normal,

                // Vertical crosshair line (showing Date in Label)
                vertLine: {
                    width: 8,
                    color: '#C3BCDB44',
                    style: LightweightCharts.LineStyle.Solid,
                    labelBackgroundColor: '#9B7DFF',
                },

                // Horizontal crosshair line (showing Price in Label)
                horzLine: {
                    color: '#9B7DFF',
                    labelBackgroundColor: '#9B7DFF',
                },
            },
        });

        //create candleStickData
        const candleStickData = {{ share_data | tojson | safe }}; //Error is not really an error lol

        // Convert the candlestick data for use with a line series
        const lineData = candleStickData.map(datapoint => ({
            time: datapoint.time,
            value: (datapoint.close + datapoint.open) / 2,
        }));

        // Add an area series to the chart to provide a gradient
        const areaSeries = chart.addAreaSeries({
            lastValueVisible: false, // hide the last value marker for this series
            crosshairMarkerVisible: false, // hide the crosshair marker for this series
            lineColor: 'transparent', // hide the line
            topColor: 'rgba(56, 33, 110,0.6)',
            bottomColor: 'rgba(56, 33, 110, 0.1)',
        });
        // Set the data for the Area Series
        areaSeries.setData(lineData);

        // Create the Main Series (Candlesticks)
        const mainSeries = chart.addCandlestickSeries();

        // Changing the Candlestick colors
        mainSeries.applyOptions({
            wickUpColor: 'rgb(135, 206, 235)',
            upColor: 'rgb(135, 206, 235)',
            wickDownColor: 'rgb(225, 50, 85)',
            downColor: 'rgb(225, 50, 85)',
            borderVisible: true,
        });

        // Set the data for the Main Series
        mainSeries.setData(candleStickData);

        // Add max and min price lines
        let minimumPrice = candleStickData[0].close;
        let maximumPrice = minimumPrice;
        for (let i = 1; i < candleStickData.length; i++) {
            const price = candleStickData[i].close;
            if (price > maximumPrice) {
                maximumPrice = price;
            }
            if (price < minimumPrice) {
                minimumPrice = price;
            }
        }
        const lineWidth = 2;
        const minPriceLine = {
            price: minimumPrice,
            color: '#ef5350',
            lineWidth: lineWidth,
            lineStyle: 2, // LineStyle.Dashed
            axisLabelVisible: true,
            title: 'min price',
        };
        const maxPriceLine = {
            price: maximumPrice,
            color: '#26a69a',
            lineWidth: lineWidth,
            lineStyle: 2, // LineStyle.Dashed
            axisLabelVisible: true,
            title: 'max price',
        };

        // render price lines
        mainSeries.createPriceLine(minPriceLine);
        mainSeries.createPriceLine(maxPriceLine);

        // resize graph when the window is resized
        window.addEventListener('resize', () => {
            const containerWidth = document.getElementById("container1").offsetWidth;
            chart.resize(containerWidth, 600); // Set the height as needed
        });

        // Initial resize when the page loads
        const containerWidth = document.getElementById("container1").offsetWidth;
        chart.resize(containerWidth, 600); // Set the height as needed

        // Adjust the options for the priceScale of the mainSeries
        mainSeries.priceScale().applyOptions({
            autoScale: true, // enables auto-scaling based on visible content
            scaleMargins: {
                top: 0.1,
                bottom: 0.2,
            },
        });

        const toolTipWidth = 80;
        const toolTipHeight = 100;
        const toolTipMargin = 15;

        // Create and style the tooltip html element
        const toolTip = document.createElement('div');
        toolTip.style = `width: 140px; height: 170px; position: absolute; display: none; padding: 8px; box-sizing: border-box; font-size: 12px; text-align: left; z-index: 1000; top: 12px; left: 12px; pointer-events: none; border: 1px solid; border-radius: 2px;font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;`;
        toolTip.style.background = 'black';
        toolTip.style.color = 'black';
        toolTip.style.borderColor = 'rgb(131,70,190)';
        container1.appendChild(toolTip);

        // update tooltip
        chart.subscribeCrosshairMove(param => {
            if (
                param.point === undefined ||
                !param.time ||
                param.point.x < 0 ||
                param.point.x > container1.clientWidth ||
                param.point.y < 0 ||
                param.point.y > container1.clientHeight
            ) {
                toolTip.style.display = 'none';
            } else {
                // time will be in the same format that we supplied to setData.
                // thus it will be YYYY-MM-DD
                const dateStr = param.time;
                toolTip.style.display = 'block';
                const data = param.seriesData.get(mainSeries);
                const name = data.value !== undefined ? data.value : data.name;
                const price = data.value !== undefined ? data.value : data.close;
                const open = data.value !== undefined ? data.value : data.open;
                const low = data.value !== undefined ? data.value : data.low;
                const high = data.value !== undefined ? data.value : data.high;

                toolTip.innerHTML = `<div style="color: ${'#9B7DFF'}">{{stock['name']}}</div><div style="font-size: 24px; margin: 4px 0px; color: ${'white'}">
                    ${Math.round(100 * price) / 100}
                    </div>
                    <div style="color: ${'white'}">Trading day: ${dateStr}</div>
                    <div style="color: ${'#9B7DFF'}">Open price: ${open}</div>
                    <div style="color: ${'#9B7DFF'}">Low price: ${low}</div>
                    <div style="color: ${'#9B7DFF'}">High price: ${high}</div>`;

                const coordinate = mainSeries.priceToCoordinate(price);
                let shiftedCoordinate = param.point.x - 50;
                if (coordinate === null) {
                    return;
                }
                shiftedCoordinate = Math.max(
                    0,
                    Math.min(container1.clientWidth - toolTipWidth, shiftedCoordinate)
                );
                const coordinateY =
                    coordinate - toolTipHeight - toolTipMargin > 0
                        ? coordinate - toolTipHeight - toolTipMargin
                        : Math.max(
                            0,
                            Math.min(
                                container1.clientHeight - toolTipHeight - toolTipMargin,
                                coordinate + toolTipMargin
                            )
                        );
                toolTip.style.left = shiftedCoordinate + 50 + 'px';
                toolTip.style.top = coordinateY + 325 +  'px';
            }
        });

    </script>
</div>


    
    
<!-- Key stats section -->
<div class="key-stats">
    <h2>Key stats</h2>
    <div class="stats-grid">
        <div><span>Market capitalization</span>${{ "{:,.0f}".format(stock['market_capitalization']|int) }}</div>
        <div><span>Dividends yield (FY)</span>{{ stock['div_yield'] }}</div>
        <div><span>Price to earnings Ratio (TTM)</span>{{ stock['PERatio'] }}</div>
        <div><span>Basic EPS (TTM)</span>{{ stock['EPS'] }}</div>
        <div><span>Net income</span>{{ stock['fiscal_year_end'] }}</div>
        <div><span>Revenue</span>${{ "{:,.0f}".format(stock['revenueTTM']|int) }}</div>
        <div><span>Shares float</span>{{ "{:,.0f}".format(stock['shares_outstanding']|int) }}</div>
        <div><span>Beta</span>{{ stock['beta'] }}</div>
    </div>
</div>

<!-- About Section -->
<div class="about">
    <h2>About {{ stock['name'] }}</h2>
    <div class="info-grid">
        <div><span>Sector</span>{{ stock['sector'] }}</div>
        <div><span>Industry</span>{{ stock['industry'] }}</div>
        <div><span>CEO</span>{{ stock['ceo'] }}</div>
        <div><span>Website</span><a href="{{ stock['website'] }}" target="">{{ stock['website'] }}</a></div>
        <div><span>Headquarters</span>{{ stock['address'] }}</div>
        <div><span>Employees</span>{{ stock['employees'] }}</div>
        <div><span>Founded</span>{{ stock['founded_year'] }}</div>
        <div><span>ISIN</span>{{ stock['isin'] }}</div>
    </div>
</div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
</body>

<!-- Advanced Section -->
<div class="about">
  <h2>Advanced Information</h2>
  <div class="info-grid">
      <div><span>Stock ID: </span>{{ stock['stock_id'] }}</div>
      <div><span>Symbol: </span>{{ stock['symbol'] }}</div>
      <div><span>Name: </span>{{ stock['name'] }}</div>
      <div><span>Description: </span>{{ stock['desc'] }}</div>
      <div><span>Central Index Key: </span>{{ stock['CIK'] }}</div>
      <div><span>Currency: </span>{{ stock['currency'] }}</div>
      <div><span>Country: </span>{{ stock['country'] }}</div>
      <div><span>Sector: </span>{{ stock['sector'] }}</div>
      <div><span>Industry: </span>{{ stock['industry'] }}</div>
      <div><span>Address: </span>{{ stock['address'] }}</div>
      <div><span>Fiscal Year End: </span>{{ stock['fiscal_year_end'] }}</div>
      <div><span>Latest Quarter: </span>{{ stock['latest_qtr'] }}</div>
      <div><span>Market Capitalization: </span>${{ "{:,.0f}".format(stock['market_capitalization']|int) }}</div>
      <div><span>EBITDA: </span>${{ "{:,.0f}".format(stock['EBITDA']|int) }}</div>
      <div><span>Price Earnings Ratio: </span>{{ stock['PERatio'] }}</div>
      <div><span>Performance Ratio: </span>{{ stock['PEGRatio'] }}</div>
      <div><span>Book Value: </span>{{ stock['book_value'] }}</div>
      <div><span>Dividend Per Share: </span>{{ stock['div_per_share'] }}</div>
      <div><span>Dividend Yield: </span>{{ stock['div_yield'] }}</div>
      <div><span>EPS: </span>{{ stock['EPS'] }}</div>
      <div><span>Revenue Per Share: </span>{{ stock['rev_per_shareTTM'] }}</div>
      <div><span>Profit Margin: </span>{{ stock['profit_margin'] }}</div>
      <div><span>Operating Margin (TTM): </span>{{ stock['op_marginTTM'] }}</div>
      <div><span>Return on Assets (TTM): </span>{{ stock['return_on_assetsTTM'] }}</div>
      <div><span>Return on Equity (TTM): </span>{{ stock['return_on_equityTTM'] }}</div>
      <div><span>Revenue (TTM): </span>${{ "{:,.0f}".format(stock['revenueTTM']|int) }}</div>
      <div><span>Gross Profit (TTM): </span>${{ "{:,.0f}".format(stock['gross_profitTTM']|int) }}</div>
      <div><span>Diluted Earnings Per Share (TTM): </span>{{ stock['dilutedEPSTTM'] }}</div>
      <div><span>Quarterly Earnings Growth (YOY): </span>{{ stock['qtrly_earnings_growthYOY'] }}</div>
      <div><span>Quarterly Revenue Growth (YOY): </span>{{ stock['qtrly_revenue_growthYOY'] }}</div>
      <div><span>Analyst Target Price: </span>{{ stock['analyst_target_price'] }}</div>
      <div><span>Trailing PE: </span>{{ stock['trailingPE'] }}</div>
      <div><span>Forward PE: </span>{{ stock['forwardPE'] }}</div>
      <div><span>Price to Sales Ratio (TTM): </span>{{ stock['price_to_sales_ratioTTM'] }}</div>
      <div><span>Price to Book Ratio: </span>{{ stock['price_to_book_ratio'] }}</div>
      <div><span>EV to Revenue: </span>{{ stock['EV_to_revenue'] }}</div>
      <div><span>EV to EBITDA: </span>{{ stock['EV_to_EBITDA'] }}</div>
      <div><span>Beta: </span>{{ stock['beta'] }}</div>
      <div><span>52 Week High: </span>${{ "{:.2f}".format(stock['week_high_52']|float) }}</div>
      <div><span>52 Week Low: </span>${{ "{:.2f}".format(stock['week_low_52']|float) }}</div>
      <div><span>50 Day Morning Average: </span>${{ "{:.2f}".format(stock['day_moving_average_50']|float) }}</div>
      <div><span>200 Day Morning Average: </span>${{ "{:.2f}".format(stock['day_moving_average_200']|float) }}</div>
      <div><span>Shares Outstanding: </span>{{ "{:,.0f}".format(stock['shares_outstanding']|int) }}</div>
      <div><span>Dividend Date: </span>{{ stock['div_date'] }}</div>
      <div><span>Ex-Dividend: </span>{{ stock['ex_div_date'] }}</div>
      <div><span>Last Updated: </span>{{ stock['last_updated'] }}</div>
      
  </div>
</div>


</html>